table, th, td {
    border:1px solid black;
  }
th {
    background-color: yellow;
    
}
tr{
    background-color: gray;
    height: 2px;
    text-align: center;
}
td {
    background-color: white;
    height: 2px;
    text-align: center;
}
table {
    width: 80%;
    margin: 0 10%;
    text-align: center;
}